@model Dynamic1toMany.Models.OrderViewModel


<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="OrderId" name="OrderId" value="@Model.OrderId" />


    <div class="form-group">
        @Html.LabelFor(model => model.OrderName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OrderName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrderName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="orderItems">
        @{ var i = 0;}
        @foreach (var item in Model.OrderItems)
        {
            ++i;
            <input type="hidden" value="@i" name="OrderItems.index" />
            <div class="form-group">
                <input type="hidden" name="OrderItems[@i].OrderItemId" class="form-control" value="@item.OrderItemId" />
                <label class="control-label">ProductName</label>
                <input name="OrderItems[@i].ProductName" type="text" class="form-control" value="@item.ProductName" />

                <label class="control-label">Quantity</label>
                <input name="OrderItems[@i].Quantity" type="number" class="form-control" value="@item.Quantity" />


                <button type="button" onclick="removeOrderItem(this)" class="btn btn-danger">Remove</button>
            </div>

        }
    </div>

    <button type="button" onclick="addOrderItem()" class="btn btn-secondary">Add Item</button>
    <button type="submit" class="btn btn-primary">Save</button>
</form>



